<div class='row'>
  <div class='large-5 columns'>
    <fieldset>
      <ul>
        <li><strong><%= "Username: " + @user.username %></strong></li>
        <li class="street-address"><%= @location.street_address %></li>
        <li>
          <span class='locality'><%= @location.city + "," %></span>
          <span class='state'><%= @location.state %></span>
        </li>
        <li class="email"><%= @user.email %></li>
        <%- if @user == current_user -%>
          <li><%= link_to "Edit Username", edit_user_path(@user) %></li>
        <%- end -%>

        <%- if @user == current_user -%>
          <li><%= link_to "Change Location", edit_user_locations_path(@user) %></li>
        <%- end -%>
      </ul>
    </fieldset>
  </div>

  <div class='large-7 columns'>
    <%= gmaps4rails(@json) %>
  </div>
</div>

