<div class='row'>
  <div class='large-6 columns'>
    <ul data-orbit>
      <li><%= image_tag('tennis-1.jpg') %></li>
      <li><%= image_tag('tennis-2.jpeg') %></li>
      <li><%= image_tag('tennis-3.jpg') %></li>
      <li><%= image_tag('tennis-4.JPG') %></li>
    </ul>
  </div>

  <%- if user_signed_in? -%>
    <div class='large-6 columns'>
      <fieldset>
        <legend><h2>Welcome to Courtside</h2></legend>
        <h4 class='subheader'>Benefits</h4>
        <ul>
          <li>
            <ul class='disc'>
              <li>Profile page</li>
              <li>Home location</li>
              <li>Distance searching</li>
              <li>Distance sorting</li>
              <li>Add courts to database</li>
              <li>Partner/Opponent searching (coming soon)</li>
              <li>Set sports you play on your profile (coming soon)</li>
              <li>Set your skill level for the sports you play (coming soon)</li>
            </ul>
          </li>
        </ul>
      </fieldset>
    </div>
  <%- else -%>
    <div class='large-6 columns'>
      <%= render "devise/registrations/new_sign_up_form" %>
    </div>
  <%- end -%>

  <hr/>
</div>

<div class='row'>
  <div class='large-5 columns'>
    <fieldset>
      <legend>List of Sports with Courts</legend>
      <ul>
        <li><ul class='disc'>
          <%- @sports.each do |sport| -%>
            <li><%= sport.name %></li>
          <%- end -%>
        </ul></li>
      </ul>
    </fieldset>
  </div>

  <div class='large-7 columns'>
    <%= gmaps4rails(@json) %>
  </div>
</div>
