<div class='row'>
  <div class='large-5'
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <fieldset>
        <legend>Sign In</legend>

        <div class='row'>
          <div class='large-3 columns'>
            <%= f.label :login, 'Username or Email', class: 'inline' %>
          </div>
          <div class='large-9 columns'>
            <%= f.text_field :login, :autofocus => true %>
          </div>
        </div>

        <div class='row'>
          <div class='large-3 columns'>
            <%= f.label :password, class: 'inline' %>
          </div>
          <div class='large-9 columns'>
            <%= f.password_field :password %>
          </div>
        </div>

        <%- if devise_mapping.rememberable? -%>
          <div class='row'>
            <div class='small-1 columns padding-fix'>
              <%= f.check_box :remember_me, class: 'right' %>
            </div>
            <div class='small-5 columns'>
              <%= f.label :remember_me %>
            </div>
            <div class='small-6 columns'>
            </div>
          </div>
        <%- end -%>

        <div><%= f.submit "Sign in", class: "button success" %></div>

        <%= render "devise/shared/links" %>
      </fieldset>
    <%- end -%>
  </div>
</div>
