<table class='search-results'>
  <thead>
    <tr>
      <th><%= sort_link @q, "sport_name", "Sport" %></th>
      <th><%= sort_link @q, "number_of", "Number of Courts" %></th>
      <th><%= sort_link @q, "location_street_address", "Address" %></th>
      <th><%= sort_link @q, "location_city", "City" %></th>
      <th><%= sort_link @q, "location_state", "State" %></th>
      <% if user_signed_in? %>
        <th><%= link_to 'Distance', search_path(distance: 'sort-by-distance', q: params[:q], within: params[:within]), class: 'distance_link' %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @courts.each do |court| %>
      <tr>
        <td><%= court.sport.name %></td>
        <td><%= court.number_of.to_s %></td>
        <td><%= court.location.street_address %></td>
        <td><%= court.location.city %></td>
        <td><%= court.location.state %></td>
        <% if user_signed_in? %>
          <% if @location.latitude == nil %>
            <td><%= "? miles" %></td>
          <% else %>
            <td><%= @location.distance_to(court.location).round(2) %> miles</td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @courts %>
