<%= search_form_for @q, url: search_path do |f| %>
  <p>
    <%= f.label :location_city_start %>
    <%= f.text_field :location_city_start %>

    <%= f.collection_select(:sport_id_eq, Sport.all, "id", "name", { include_blank: 'All Sports' }) %>

    <%= f.submit "Search" %>
  </p>
<% end %>

<table class='search-results'>
  <% @courts.each do |court| %>
    <tr>
      <td><%= court.sport.name %></td>
      <td><%= court.number_of.to_s %></td>
      <td><%= court.location.street_address %></td>
      <td><%= court.location.city %></td>
      <td><%= court.location.state %></td>
    </tr>
  <% end %>
</table>
