<%= search_form_for @q, url: search_path do |f| %>
  <div>
    <%= f.label :location_city_start %>
    <%= f.text_field :location_city_start %>
  </div>

  <div>
    <%= f.collection_select(:sport_id_eq, Sport.all, "id", "name", { include_blank: 'All Sports' }) %>
  </div>

  <div>
    <%= f.submit "Search" %>
  </div>
<% end %>

<table class='search-results'>
  <tr>
    <th><%= sort_link @q, "sport_name", "Sport" %></th>
    <th><%= sort_link @q, "number_of", "Number of Courts" %></th>
    <th><%= sort_link @q, "location_street_address", "Address" %></th>
    <th><%= sort_link @q, "location_city", "City" %></th>
    <th><%= sort_link @q, "location_state", "State" %></th>
  </tr>

  <% @courts.each do |court| %>
    <tr>
      <td><%= court.sport.name %></td>
      <td><%= court.number_of.to_s %></td>
      <td><%= court.location.street_address %></td>
      <td><%= court.location.city %></td>
      <td><%= court.location.state %></td>
    </tr>
  <% end %>
</table>
